<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form id="" action="saveStudent" method="post">
        <table>
            <tr>
                <td>用户名</td>
                <td><input type="text" name="username"/></td>
            </tr>
            <tr>
                <td>真实名</td>
                <td><input type="text" name="realName"/></td>
            </tr>
            <tr>
                <td>年龄</td>
                <td><input type="text" name="age"/></td>
            </tr>
            <tr>
                <td>描述</td>
                <td><input type="text" name="des"/></td>
            </tr>
        </table>
        <p>
            <input type="submit" value="保存">
            <input type="reset" value="重置">
        </p>
    </form>
</body>
</html>